<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Transaksi</title>

    <link rel="stylesheet" href="/admin.css">

    <script defer src="/admin-transaksi.js"></script>
</head>
<body>

<div class="container">

    <h1>Data Transaksi</h1>

    <table>

        <thead>

        <tr>

            <th>Kode Booking</th>
            <th>Nama Customer</th>
            <th>Total</th>
            <th>Status</th>
            <th>Tanggal</th>
            <th>Aksi</th>

        </tr>

        </thead>

        <tbody id="transactionTable">

        </tbody>

    </table>

</div>

</body>
</html>